aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
discord.py==2.7.1
feedparser==6.0.12
frozenlist==1.8.0
idna==3.15
iniconfig==2.3.0
multidict==6.7.1
packaging==26.2
pluggy==1.6.0
propcache==0.5.2
Pygments==2.20.0
pytest==9.0.3
python-dotenv==1.2.2
PyYAML==6.0.3
ruff==0.15.13
sgmllib3k==1.0.0
yarl==1.23.0
